{% load static %}
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Signin Template {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/auth_main.css' %}" />
    <link href="{% static 'css/sign_in.css' %}" rel="stylesheet" />
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
      {% block content %}{% endblock content %}
    </main>
    <script src="{% static 'js/register.js' %}"></script>
  </body>
</html>
