{% extends 'authentication/base_auth.html' %} {% block content %}

<form method="post">
  <img
    class="mb-4"
    src="/docs/5.3/assets/brand/bootstrap-logo.svg"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="h3 mb-3 fw-normal">Register for free account</h1>
  <div class="form-floating">
    <input
      type="text"
      name="username"
      class="form-control"
      id="usernameInput"
      placeholder="Username"
    />
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input
      name="email"
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input
      name="password"
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
</form>

{% endblock content %}
